<app-banner></app-banner>
<div class="grid-container">
  <div class="item1">
    <mat-card>
      <mat-card-content>Mi tienda Virtual </mat-card-content>
      <p>Es un sistema donde ayudaremos tanto al tendero como al cliente con sus productos prestamos y debitos recordatorios y mas</p>
     <img src="../../../assets/img/tienda-virtual.png" alt="tienda virtual" width="700px">
    </mat-card>
  </div>
  <div class="item2">
    <div class="welcome-message">
      <p class="lead fw-normal mb-0 me-3">Bienvenido a Mi Tienda Virtual</p>
    </div>
    <div class="login-form">
    <h3>Si eres tendero o dueño tienda da click  <span style="color: blue; text-decoration:underline; cursor: pointer;" routerLink="/login-tenderos"> aqui</span> para iniciar sesion</h3>
    <p>o</p>
    <h3>Si eres cliente o proveedor de tienda da click  <span style="color: blue; text-decoration:underline; cursor: pointer;" routerLink="/login-clientes"> aqui</span>   para iniciar sesion</h3>
    </div>
    <div class="text-center text-lg-start mt-4 pt-2">
   
    </div>
  </div> 

</div>
<app-footer></app-footer>