<app-banner></app-banner>
<div class="grid-container">
  <div class="item1">
    <i>Aca se encuentra el login de clientes <br> para acceder a todos tus datos.</i>
    <div class="col-md-9 col-lg-6 col-xl-5 column">
      <img src="../../../../assets/img//cleinte.jpg" class="img-fluid w-100" alt="logo Tienda virtual" width="500px">
    </div>
  </div>
  <div class="item2">
    <div class="container">
      <div class="row">
        <div class="col-lg"></div>
        <div class="col-lg-6">
          <form #forma="ngForm">
            <h1>Inicio de sesión</h1>
            <i style="text-align: center;">Clientes</i>
            <p>Introduzca los credenciales para iniciar la sesión</p>
            <p class="psw">
              ¿No tienes cuenta? Entra
              <a href="#">aquí</a> para crearla gratis
            </p>
            <hr />
            <label for="tel"><b>Ingresa numero de <br> Celular</b></label>
            <input matInput
             type="text"
            (keypress)="validateFormat($event)" placeholder="Introduzca numero de celular" name="celular" class="form-control">
            <br>
            <label for="psw"><b>PIN</b></label>
            <input type="password" placeholder="Introduzca la contraseña" name="password" class="form-control" />


            <div class="row">
              <div class="col-lg">
                <button type="submit" [disabled]="!forma.valid" class="signup-btn">Iniciar sesión</button>
              </div>
            </div>
            <div class="more-options">
              <p class="psw">
                ¿Has olvidado la <a [routerLink]="['/forgot']">contraseña</a>?
              </p>
            </div>
          </form>
        </div>
        <div class="col-lg"></div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>