<app-banner></app-banner>
<!-- <div class="grid-container">
  <div class="item1">
    <i>Aca se encuentra el login de tenderos <br> para acceder a todos tus datos.</i>
    <div class="col-md-9 col-lg-6 col-xl-5 column">
      <img src="../../../../assets/img/store.jpg" class="img-fluid w-100" alt="logo Tienda virtual" width="500px">
    </div>
  </div>
  <div class="item2">
    <div class="welcome-message">
      <p class="lead fw-normal mb-0 me-3">Bienvenido a Mi Tienda Virtual</p>
    </div>
    <div class="login-form">
      <form [formGroup]="loginForm">
        <mat-form-field  style="font-size: 14px;">
          <mat-label>Correo</mat-label>
          <input matInput type="text" placeholder="Correo" name="username" formControlName="username" >
          <mat-error *ngIf="loginForm.controls['username'].hasError('required')">* Campo requerido</mat-error>
          <mat-error *ngIf="loginForm.controls['username'].hasError('email')">* Email no valido</mat-error>
        </mat-form-field>

   
        <mat-form-field style="font-size: 14px; width: 210px;">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña" name="password"
            formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')"> * Campo requerido</mat-error>
          <mat-error *ngIf="loginForm.controls['password'].hasError('minLength')"> * Minimo 8 digitos</mat-error>
          <mat-error *ngIf="loginForm.controls['password'].hasError('maxLength')"> * Maximo 16 digitos</mat-error>
        </mat-form-field>
      </form>
    </div>
    <div class="text-center text-lg-start mt-4 pt-2">
      <button type="button" class="btn btn-warning btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"
        (click)="login()" [disabled]="!loginForm.valid" matTooltip="Inicia Sesion 🏗👷🏻‍♂️">Iniciar</button>
      <p class="small fw-bold mt-2 pt-1 mb-0">No tienes una cuenta? <a (click)="onRegister()" class="link-danger"
          style="cursor: pointer;" matTooltip="Si no tienes cuenta registrate">Registrate</a></p>
    </div>
  </div>

</div> -->
<app-footer></app-footer>