/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    /* Colores MI-TIENDA-VIRTUAL */
    --grey-dark: #d5d8c7;
    --grey-good: #d4d6ce;
    --grey-light: #d3d5d5;
    --grey-lighter: #d1d3dc;
    --grey-lightest: #d0d2e3;

    /* Colores rojo */
    --red: #FF0000;
    --red-light: #FFC1C1;

    /* Colores gris */
    --gray-light: #F2F2F2;
    --gray: #BEBEBE;
    --gray-dark: #A9A9A9;

    /* Colores azul */
    --blue: #0072C6;
    --blue-light: #B2D1EC;
}

  
 